.school {
    background-color: $secondary-color;
    padding: 18px 12px 30.7px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        font-family: $font-title;
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
        color: $terciary-color;
    }

    &__title {
        font-family: $font-title;
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
        color: $black;
        margin-bottom: 12px;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__button {
        background-color: $primary-color;
        border-radius: 25px;
        margin-top: 10px;
        border: 2px solid $primary-color;
        transition-duration: 1s;
        transition-property: all;
        transition-timing-function: ease-in-out;

        &:hover {
            background-color: $secondary-color;
            transform: scaleX(1.4);
        }

        &-link {
            font-family: $font-main;
            font-size: 20px;
            line-height: 45px;
            color: $white;
            padding: 8px 20px;
            transition-duration: 500ms;
            transition-property: all;
            transition-timing-function: ease-in-out;
            
            &:hover {
                color: $primary-color;
            }
        }
    }
}

.item {
    &__img {
        width: 114px;
        height: 124.1px;
        border-radius: 50%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    }

    &__caption {
        font-family: $font-title;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
    }
}

@media all and (min-width: $bp-tablet) {
    .school {
        padding: 27px 0 60px 0;

        &__text {
            font-size: 12px;
            line-height: 30px;
        }

        &__title {
            font-size: 28px;
            line-height: 45px;
        }

        &__container {
            width: 100%;
            padding: 0 30px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            justify-content: space-around;
        }

        &__button {
            margin-top: 17px;
        }
    }
}

@media all and (min-width: $bp-desktop) {
    .school {
        padding: 27px 174px 60px 174px;
    }
}