.shop {
    padding: 34px 17px 28px 13px;

    &__title1 {
        font-family: $font-main;
        font-size: 14px;
        line-height: 30px;
        font-weight: normal;
        color: $primary-color;
    }

    &__title2 {
        font-family: $font-title;
        font-size: 22px;
        line-height: 30px;
        font-weight: 700;
        color: $black;
    }

    &__text {
        font-family: $font-main;
        font-size: 18px;
        line-height: 30px;
        font-weight: normal;
        color: $text-color;
        margin-top: 10px;
    }

    &__button {
        margin-top: 52px;

        &-link {
            padding: 8px 35px;
            font-family: $font-main;
            font-size: 20px;
            font-weight: 500;
            line-height: 45px;
            border-radius: 30px;
            border: 2px solid $primary-color;
            color: $primary-color;
        }
    }
}

@media all and (min-width: $bp-tablet) {
    .shop {
        padding: 37.5px 39.1px 51.5px 37.1px;

        &__title1 {
            font-size: 16px;
            line-height: 30px;
        }

        &__title2 {
            font-size: 32px;
            line-height: 45px;
        }

        &__text {
            font-size: 20px;
            line-height: 30px;
        }

        &__button {
            margin-top: 21.2px;
        }
    }
}

@media all and (min-width: $bp-desktop) {
    .shop {
        padding: 39px 168px 49px 170px;
    

        &__button {
            margin-top: 41px;
        }
    }
}