<section class="school" id="school">
  <p class="school__text">¡Prepáralos con tus marcas favoritas!</p>
  <h3 class="school__title">VUELTA AL COLE</h3>
  <div class="school__container">
    <figure class="school__container-item">
      <img class="item__img" src="/images/lpbts-mod05-img01-desk.png" alt="chica con mochila" />
      <figcaption class="item__caption">Mochilas escolares</figcaption>
    </figure>
    <figure class="school__container-item">
      <img class="item__img" src="/images/lpbts-mod05-img04-mob.png" alt="niño con esruche" />
      <figcaption class="item__caption">Estuches</figcaption>
    </figure>
    <figure class="school__container-item">
      <img class="item__img" src="/images/lpbts-mod05-img03-mob.png" alt="chica con bolsa de deporte" />
      <figcaption class="item__caption">Bolsas de deporte</figcaption>
    </figure>
  </div>
  <div class="school__button">
    <a class="school__button-link" href="">Empezar ahora</a>
  </div>
</section>
