<section>
  <p>¡Prepáralos con tus marcas favoritas!</p>
  <h3>VUELTA AL COLE</h3>
  <div>
    <figure>
      <img src="/images/lpbts-mod05-img01-desk.png" alt="chica con mochila" />
      <figcaption>Mochilas escolares</figcaption>
    </figure>
    <figure>
      <img src="/images/lpbts-mod05-img03-mob.png" alt="" />
      <figcaption>Estuches</figcaption>
    </figure>
    <figure>
      <img src="/images/lpbts-mod05-img04-mob.png" alt="" />
      <figcaption>Bolsas de deporte</figcaption>
    </figure>
    <div>
      <a href="">Empezar ahora</a>
    </div>
  </div>
</section>
